<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>豆瓣电影-中外电影上映年份分布</title>
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="shortcut icon" href="../../../static/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../../../static/static/css/font.css">
		<link rel="stylesheet" href="../../../static/static/css/weadmin.css">
        <script src="../../../static/lib/layui/layui.js" charset="utf-8"></script>
		<script src="../../../static/static/js/admin.js" charset="utf-8"></script>
	</head>
	<body>
		<div class="weadmin-body">
			<div id="main" style="width: 1500px;height:550px;overflow-x: hidden;overflow-y: hidden;position: center; ">
            </div>
		</div>
	</body>
    <script type="text/javascript">
        document.getElementById('main').innerHTML= '<object type="text/html" data="{{ url_for('showtime')}}" width="100%" height="100%"></object>'
    </script>

</html>