<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>豆瓣电影-上映地区分布</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="10bdda6e16644281834135e54a2b97ff" class="chart-container" style="width:900px; height:650px;"></div>
    <script>
        var chart_10bdda6e16644281834135e54a2b97ff = echarts.init(
            document.getElementById('10bdda6e16644281834135e54a2b97ff'), 'white', {renderer: 'canvas'});
        var option_10bdda6e16644281834135e54a2b97ff = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u8c46\u74e3\u7535\u5f71TOP250-\u4e0a\u6620\u5730\u533a\u5206\u5e03",
            "data": [
                {
                    "name": "\u7f8e\u56fd",
                    "value": 649
                },
                {
                    "name": "\u82f1\u56fd",
                    "value": 204
                },
                {
                    "name": "\u610f\u5927\u5229",
                    "value": 34
                },
                {
                    "name": "\u6cd5\u56fd",
                    "value": 153
                },
                {
                    "name": "\u4e2d\u56fd\u9999\u6e2f",
                    "value": 123
                },
                {
                    "name": "\u4e2d\u56fd\u5927\u9646",
                    "value": 419
                },
                {
                    "name": "\u65e5\u672c",
                    "value": 313
                },
                {
                    "name": "\u5370\u5ea6",
                    "value": 14
                },
                {
                    "name": "\u52a0\u62ff\u5927",
                    "value": 47
                },
                {
                    "name": "\u97e9\u56fd",
                    "value": 56
                },
                {
                    "name": "\u5fb7\u56fd",
                    "value": 87
                },
                {
                    "name": "\u65b0\u897f\u5170",
                    "value": 5
                },
                {
                    "name": "\u4e2d\u56fd\u53f0\u6e7e",
                    "value": 53
                },
                {
                    "name": "\u745e\u58eb",
                    "value": 14
                },
                {
                    "name": "\u6fb3\u5927\u5229\u4e9a",
                    "value": 30
                },
                {
                    "name": "\u5df4\u897f",
                    "value": 17
                },
                {
                    "name": "\u897f\u73ed\u7259",
                    "value": 17
                },
                {
                    "name": "\u5357\u975e",
                    "value": 5
                },
                {
                    "name": "\u745e\u5178",
                    "value": 16
                },
                {
                    "name": "\u4f0a\u6717",
                    "value": 9
                },
                {
                    "name": "\u963f\u6839\u5ef7",
                    "value": 12
                },
                {
                    "name": "\u7231\u5c14\u5170",
                    "value": 6
                },
                {
                    "name": "\u8377\u5170",
                    "value": 10
                },
                {
                    "name": "\u4e39\u9ea6",
                    "value": 14
                },
                {
                    "name": "\u4fc4\u7f57\u65af",
                    "value": 14
                },
                {
                    "name": "\u82ac\u5170",
                    "value": 9
                },
                {
                    "name": "\u5965\u5730\u5229",
                    "value": 12
                },
                {
                    "name": "\u897f\u5fb7",
                    "value": 26
                },
                {
                    "name": "\u6377\u514b",
                    "value": 8
                },
                {
                    "name": "\u6bd4\u5229\u65f6",
                    "value": 10
                },
                {
                    "name": "\u6ce2\u5170",
                    "value": 12
                },
                {
                    "name": "\u5e0c\u814a",
                    "value": 3
                },
                {
                    "name": "\u6cf0\u56fd",
                    "value": 3
                },
                {
                    "name": "\u571f\u8033\u5176",
                    "value": 2
                },
                {
                    "name": "\u51b0\u5c9b",
                    "value": 3
                },
                {
                    "name": "\u632a\u5a01",
                    "value": 4
                },
                {
                    "name": "\u82cf\u8054",
                    "value": 24
                },
                {
                    "name": "\u4ee5\u8272\u5217",
                    "value": 4
                },
                {
                    "name": "\u6377\u514b\u65af\u6d1b\u4f10\u514b",
                    "value": 3
                },
                {
                    "name": "\u65b0\u52a0\u5761",
                    "value": 3
                },
                {
                    "name": "\u5370\u5ea6\u5c3c\u897f\u4e9a",
                    "value": 3
                },
                {
                    "name": "\u9a6c\u6765\u897f\u4e9a",
                    "value": 3
                },
                {
                    "name": "\u65af\u6d1b\u6587\u5c3c\u4e9a",
                    "value": 2
                },
                {
                    "name": "\u5308\u7259\u5229",
                    "value": 3
                },
                {
                    "name": "\u585e\u5c14\u7ef4\u4e9a",
                    "value": 2
                },
                {
                    "name": "\u83f2\u5f8b\u5bbe",
                    "value": 3
                },
                {
                    "name": "\u667a\u5229",
                    "value": 2
                },
                {
                    "name": "\u8461\u8404\u7259",
                    "value": 3
                },
                {
                    "name": "\u5357\u65af\u62c9\u592b",
                    "value": 3
                },
                {
                    "name": "\u4fdd\u52a0\u5229\u4e9a",
                    "value": 2
                },
                {
                    "name": "\u58a8\u897f\u54e5",
                    "value": 3
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4f0a\u6717",
                "\u667a\u5229",
                "\u82ac\u5170",
                "\u632a\u5a01",
                "\u5357\u975e",
                "\u571f\u8033\u5176",
                "\u4e2d\u56fd\u9999\u6e2f",
                "\u65e5\u672c",
                "\u4e2d\u56fd\u5927\u9646",
                "\u6cf0\u56fd",
                "\u82f1\u56fd",
                "\u58a8\u897f\u54e5",
                "\u6377\u514b",
                "\u6cd5\u56fd",
                "\u4fc4\u7f57\u65af",
                "\u8461\u8404\u7259",
                "\u65b0\u52a0\u5761",
                "\u9a6c\u6765\u897f\u4e9a",
                "\u610f\u5927\u5229",
                "\u52a0\u62ff\u5927",
                "\u5fb7\u56fd",
                "\u6bd4\u5229\u65f6",
                "\u4fdd\u52a0\u5229\u4e9a",
                "\u97e9\u56fd",
                "\u745e\u5178",
                "\u7231\u5c14\u5170",
                "\u5e0c\u814a",
                "\u82cf\u8054",
                "\u4ee5\u8272\u5217",
                "\u65af\u6d1b\u6587\u5c3c\u4e9a",
                "\u83f2\u5f8b\u5bbe",
                "\u6ce2\u5170",
                "\u5357\u65af\u62c9\u592b",
                "\u4e2d\u56fd\u53f0\u6e7e",
                "\u745e\u58eb",
                "\u5370\u5ea6\u5c3c\u897f\u4e9a",
                "\u897f\u73ed\u7259",
                "\u7f8e\u56fd",
                "\u8377\u5170",
                "\u6fb3\u5927\u5229\u4e9a",
                "\u5370\u5ea6",
                "\u51b0\u5c9b",
                "\u897f\u5fb7",
                "\u5308\u7259\u5229",
                "\u585e\u5c14\u7ef4\u4e9a",
                "\u5965\u5730\u5229",
                "\u65b0\u897f\u5170",
                "\u6377\u514b\u65af\u6d1b\u4f10\u514b",
                "\u5df4\u897f",
                "\u963f\u6839\u5ef7",
                "\u4e39\u9ea6"
            ],
            "selected": {
                "\u7f8e\u56fd": true,
                "\u82f1\u56fd": true,
                "\u610f\u5927\u5229": true,
                "\u6cd5\u56fd": true,
                "\u4e2d\u56fd\u9999\u6e2f": true,
                "\u4e2d\u56fd\u5927\u9646": true,
                "\u65e5\u672c": true,
                "\u5370\u5ea6": true,
                "\u52a0\u62ff\u5927": true,
                "\u97e9\u56fd": true,
                "\u5fb7\u56fd": true,
                "\u65b0\u897f\u5170": true,
                "\u4e2d\u56fd\u53f0\u6e7e": true,
                "\u745e\u58eb": true,
                "\u6fb3\u5927\u5229\u4e9a": true,
                "\u5df4\u897f": true,
                "\u897f\u73ed\u7259": true,
                "\u5357\u975e": true,
                "\u745e\u5178": true,
                "\u4f0a\u6717": true,
                "\u963f\u6839\u5ef7": true,
                "\u7231\u5c14\u5170": true,
                "\u8377\u5170": true,
                "\u4e39\u9ea6": true,
                "\u4fc4\u7f57\u65af": true,
                "\u82ac\u5170": true,
                "\u5965\u5730\u5229": true,
                "\u897f\u5fb7": true,
                "\u6377\u514b": true,
                "\u6bd4\u5229\u65f6": true,
                "\u6ce2\u5170": true,
                "\u5e0c\u814a": true,
                "\u6cf0\u56fd": true,
                "\u571f\u8033\u5176": true,
                "\u51b0\u5c9b": true,
                "\u632a\u5a01": true,
                "\u82cf\u8054": true,
                "\u4ee5\u8272\u5217": true,
                "\u6377\u514b\u65af\u6d1b\u4f10\u514b": true,
                "\u65b0\u52a0\u5761": true,
                "\u5370\u5ea6\u5c3c\u897f\u4e9a": true,
                "\u9a6c\u6765\u897f\u4e9a": true,
                "\u65af\u6d1b\u6587\u5c3c\u4e9a": true,
                "\u5308\u7259\u5229": true,
                "\u585e\u5c14\u7ef4\u4e9a": true,
                "\u83f2\u5f8b\u5bbe": true,
                "\u667a\u5229": true,
                "\u8461\u8404\u7259": true,
                "\u5357\u65af\u62c9\u592b": true,
                "\u4fdd\u52a0\u5229\u4e9a": true,
                "\u58a8\u897f\u54e5": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u8c46\u74e3\u7535\u5f71-\u4e0a\u6620\u5730\u533a\u5206\u5e03",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_10bdda6e16644281834135e54a2b97ff.setOption(option_10bdda6e16644281834135e54a2b97ff);
    </script>
</body>
</html>
