<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>豆瓣电影TOP250-中外电影评分分布</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="9a1e61ba81e74fba89f0f4c848efc55f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_9a1e61ba81e74fba89f0f4c848efc55f = echarts.init(
            document.getElementById('9a1e61ba81e74fba89f0f4c848efc55f'), 'white', {renderer: 'canvas'});
        var option_9a1e61ba81e74fba89f0f4c848efc55f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#61a0a8",
        "#c23531",
        "#749f83",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5168\u7403",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2.3",
                    2
                ],
                [
                    "2.5",
                    1
                ],
                [
                    "2.6",
                    3
                ],
                [
                    "2.8",
                    2
                ],
                [
                    "3.1",
                    2
                ],
                [
                    "3.2",
                    3
                ],
                [
                    "3.4",
                    1
                ],
                [
                    "3.5",
                    2
                ],
                [
                    "3.6",
                    1
                ],
                [
                    "3.7",
                    8
                ],
                [
                    "3.8",
                    2
                ],
                [
                    "3.9",
                    3
                ],
                [
                    "4.0",
                    1
                ],
                [
                    "4.1",
                    3
                ],
                [
                    "4.2",
                    6
                ],
                [
                    "4.3",
                    4
                ],
                [
                    "4.4",
                    3
                ],
                [
                    "4.5",
                    7
                ],
                [
                    "4.6",
                    9
                ],
                [
                    "4.7",
                    2
                ],
                [
                    "4.8",
                    6
                ],
                [
                    "4.9",
                    11
                ],
                [
                    "5.0",
                    8
                ],
                [
                    "5.1",
                    10
                ],
                [
                    "5.2",
                    15
                ],
                [
                    "5.3",
                    8
                ],
                [
                    "5.4",
                    4
                ],
                [
                    "5.5",
                    14
                ],
                [
                    "5.6",
                    13
                ],
                [
                    "5.7",
                    14
                ],
                [
                    "5.8",
                    12
                ],
                [
                    "5.9",
                    12
                ],
                [
                    "6.0",
                    13
                ],
                [
                    "6.1",
                    14
                ],
                [
                    "6.2",
                    11
                ],
                [
                    "6.3",
                    11
                ],
                [
                    "6.4",
                    23
                ],
                [
                    "6.5",
                    23
                ],
                [
                    "6.6",
                    20
                ],
                [
                    "6.7",
                    23
                ],
                [
                    "6.8",
                    35
                ],
                [
                    "6.9",
                    21
                ],
                [
                    "7.0",
                    18
                ],
                [
                    "7.1",
                    24
                ],
                [
                    "7.2",
                    21
                ],
                [
                    "7.3",
                    22
                ],
                [
                    "7.4",
                    19
                ],
                [
                    "7.5",
                    30
                ],
                [
                    "7.6",
                    39
                ],
                [
                    "7.7",
                    31
                ],
                [
                    "7.8",
                    33
                ],
                [
                    "7.9",
                    29
                ],
                [
                    "8.0",
                    26
                ],
                [
                    "8.1",
                    31
                ],
                [
                    "8.2",
                    37
                ],
                [
                    "8.3",
                    29
                ],
                [
                    "8.4",
                    17
                ],
                [
                    "8.5",
                    35
                ],
                [
                    "8.6",
                    44
                ],
                [
                    "8.7",
                    59
                ],
                [
                    "8.8",
                    48
                ],
                [
                    "8.9",
                    36
                ],
                [
                    "9.0",
                    26
                ],
                [
                    "9.1",
                    26
                ],
                [
                    "9.2",
                    31
                ],
                [
                    "9.3",
                    17
                ],
                [
                    "9.4",
                    7
                ],
                [
                    "9.5",
                    4
                ],
                [
                    "9.6",
                    5
                ],
                [
                    "9.7",
                    2
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u7f8e\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2.3",
                    0
                ],
                [
                    "2.5",
                    0
                ],
                [
                    "2.6",
                    0
                ],
                [
                    "2.8",
                    0
                ],
                [
                    "3.1",
                    0
                ],
                [
                    "3.2",
                    0
                ],
                [
                    "3.4",
                    0
                ],
                [
                    "3.5",
                    0
                ],
                [
                    "3.6",
                    0
                ],
                [
                    "3.7",
                    4
                ],
                [
                    "3.8",
                    0
                ],
                [
                    "3.9",
                    0
                ],
                [
                    "4.0",
                    0
                ],
                [
                    "4.1",
                    0
                ],
                [
                    "4.2",
                    1
                ],
                [
                    "4.3",
                    0
                ],
                [
                    "4.4",
                    0
                ],
                [
                    "4.5",
                    1
                ],
                [
                    "4.6",
                    2
                ],
                [
                    "4.7",
                    0
                ],
                [
                    "4.8",
                    1
                ],
                [
                    "4.9",
                    2
                ],
                [
                    "5.0",
                    2
                ],
                [
                    "5.1",
                    5
                ],
                [
                    "5.2",
                    2
                ],
                [
                    "5.3",
                    2
                ],
                [
                    "5.4",
                    1
                ],
                [
                    "5.5",
                    4
                ],
                [
                    "5.6",
                    1
                ],
                [
                    "5.7",
                    5
                ],
                [
                    "5.8",
                    5
                ],
                [
                    "5.9",
                    4
                ],
                [
                    "6.0",
                    2
                ],
                [
                    "6.1",
                    5
                ],
                [
                    "6.2",
                    3
                ],
                [
                    "6.3",
                    1
                ],
                [
                    "6.4",
                    4
                ],
                [
                    "6.5",
                    4
                ],
                [
                    "6.6",
                    8
                ],
                [
                    "6.7",
                    6
                ],
                [
                    "6.8",
                    13
                ],
                [
                    "6.9",
                    6
                ],
                [
                    "7.0",
                    9
                ],
                [
                    "7.1",
                    5
                ],
                [
                    "7.2",
                    3
                ],
                [
                    "7.3",
                    3
                ],
                [
                    "7.4",
                    4
                ],
                [
                    "7.5",
                    8
                ],
                [
                    "7.6",
                    15
                ],
                [
                    "7.7",
                    13
                ],
                [
                    "7.8",
                    14
                ],
                [
                    "7.9",
                    9
                ],
                [
                    "8.0",
                    10
                ],
                [
                    "8.1",
                    10
                ],
                [
                    "8.2",
                    16
                ],
                [
                    "8.3",
                    11
                ],
                [
                    "8.4",
                    4
                ],
                [
                    "8.5",
                    12
                ],
                [
                    "8.6",
                    27
                ],
                [
                    "8.7",
                    31
                ],
                [
                    "8.8",
                    23
                ],
                [
                    "8.9",
                    12
                ],
                [
                    "9.0",
                    14
                ],
                [
                    "9.1",
                    14
                ],
                [
                    "9.2",
                    8
                ],
                [
                    "9.3",
                    9
                ],
                [
                    "9.4",
                    4
                ],
                [
                    "9.5",
                    2
                ],
                [
                    "9.6",
                    2
                ],
                [
                    "9.7",
                    1
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2.3",
                    2
                ],
                [
                    "2.5",
                    1
                ],
                [
                    "2.6",
                    3
                ],
                [
                    "2.8",
                    2
                ],
                [
                    "3.1",
                    2
                ],
                [
                    "3.2",
                    3
                ],
                [
                    "3.4",
                    1
                ],
                [
                    "3.5",
                    2
                ],
                [
                    "3.6",
                    1
                ],
                [
                    "3.7",
                    4
                ],
                [
                    "3.8",
                    2
                ],
                [
                    "3.9",
                    1
                ],
                [
                    "4.0",
                    1
                ],
                [
                    "4.1",
                    2
                ],
                [
                    "4.2",
                    4
                ],
                [
                    "4.3",
                    2
                ],
                [
                    "4.4",
                    2
                ],
                [
                    "4.5",
                    4
                ],
                [
                    "4.6",
                    5
                ],
                [
                    "4.7",
                    2
                ],
                [
                    "4.8",
                    4
                ],
                [
                    "4.9",
                    6
                ],
                [
                    "5.0",
                    3
                ],
                [
                    "5.1",
                    4
                ],
                [
                    "5.2",
                    6
                ],
                [
                    "5.3",
                    1
                ],
                [
                    "5.4",
                    3
                ],
                [
                    "5.5",
                    10
                ],
                [
                    "5.6",
                    9
                ],
                [
                    "5.7",
                    6
                ],
                [
                    "5.8",
                    2
                ],
                [
                    "5.9",
                    5
                ],
                [
                    "6.0",
                    6
                ],
                [
                    "6.1",
                    5
                ],
                [
                    "6.2",
                    2
                ],
                [
                    "6.3",
                    3
                ],
                [
                    "6.4",
                    9
                ],
                [
                    "6.5",
                    7
                ],
                [
                    "6.6",
                    4
                ],
                [
                    "6.7",
                    6
                ],
                [
                    "6.8",
                    11
                ],
                [
                    "6.9",
                    6
                ],
                [
                    "7.0",
                    4
                ],
                [
                    "7.1",
                    6
                ],
                [
                    "7.2",
                    2
                ],
                [
                    "7.3",
                    4
                ],
                [
                    "7.4",
                    1
                ],
                [
                    "7.5",
                    5
                ],
                [
                    "7.6",
                    12
                ],
                [
                    "7.7",
                    4
                ],
                [
                    "7.8",
                    6
                ],
                [
                    "7.9",
                    7
                ],
                [
                    "8.0",
                    5
                ],
                [
                    "8.1",
                    5
                ],
                [
                    "8.2",
                    7
                ],
                [
                    "8.3",
                    6
                ],
                [
                    "8.4",
                    1
                ],
                [
                    "8.5",
                    10
                ],
                [
                    "8.6",
                    6
                ],
                [
                    "8.7",
                    11
                ],
                [
                    "8.8",
                    5
                ],
                [
                    "8.9",
                    6
                ],
                [
                    "9.0",
                    4
                ],
                [
                    "9.1",
                    4
                ],
                [
                    "9.2",
                    8
                ],
                [
                    "9.3",
                    3
                ],
                [
                    "9.4",
                    0
                ],
                [
                    "9.5",
                    0
                ],
                [
                    "9.6",
                    2
                ],
                [
                    "9.7",
                    1
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5168\u7403",
                "\u7f8e\u56fd",
                "\u4e2d\u56fd"
            ],
            "selected": {
                "\u5168\u7403": true,
                "\u7f8e\u56fd": true,
                "\u4e2d\u56fd": true
            },
            "show": true,
            "left": "620px",
            "top": "28px",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": true,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2.3",
                "2.5",
                "2.6",
                "2.8",
                "3.1",
                "3.2",
                "3.4",
                "3.5",
                "3.6",
                "3.7",
                "3.8",
                "3.9",
                "4.0",
                "4.1",
                "4.2",
                "4.3",
                "4.4",
                "4.5",
                "4.6",
                "4.7",
                "4.8",
                "4.9",
                "5.0",
                "5.1",
                "5.2",
                "5.3",
                "5.4",
                "5.5",
                "5.6",
                "5.7",
                "5.8",
                "5.9",
                "6.0",
                "6.1",
                "6.2",
                "6.3",
                "6.4",
                "6.5",
                "6.6",
                "6.7",
                "6.8",
                "6.9",
                "7.0",
                "7.1",
                "7.2",
                "7.3",
                "7.4",
                "7.5",
                "7.6",
                "7.7",
                "7.8",
                "7.9",
                "8.0",
                "8.1",
                "8.2",
                "8.3",
                "8.4",
                "8.5",
                "8.6",
                "8.7",
                "8.8",
                "8.9",
                "9.0",
                "9.1",
                "9.2",
                "9.3",
                "9.4",
                "9.5",
                "9.6",
                "9.7"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u8c46\u74e3\u7535\u5f71TOP250-\u4e2d\u5916\u7535\u5f71\u8bc4\u5206\u5206\u5e03",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_9a1e61ba81e74fba89f0f4c848efc55f.setOption(option_9a1e61ba81e74fba89f0f4c848efc55f);
    </script>
</body>
</html>
