<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>豆瓣电影-中外电影上映年份分布图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="45c1034f10fc49d9acc70bb4c5c0817a" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_45c1034f10fc49d9acc70bb4c5c0817a = echarts.init(
            document.getElementById('45c1034f10fc49d9acc70bb4c5c0817a'), 'white', {renderer: 'canvas'});
        var option_45c1034f10fc49d9acc70bb4c5c0817a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#749f83",
        "#2f4554",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5168\u7403",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "1894",
                    1
                ],
                [
                    "1896",
                    3
                ],
                [
                    "1897",
                    2
                ],
                [
                    "1905",
                    1
                ],
                [
                    "1913",
                    1
                ],
                [
                    "1914",
                    1
                ],
                [
                    "1916",
                    2
                ],
                [
                    "1918",
                    1
                ],
                [
                    "1919",
                    1
                ],
                [
                    "1921",
                    1
                ],
                [
                    "1922",
                    10
                ],
                [
                    "1923",
                    3
                ],
                [
                    "1924",
                    4
                ],
                [
                    "1925",
                    3
                ],
                [
                    "1926",
                    4
                ],
                [
                    "1928",
                    1
                ],
                [
                    "1929",
                    1
                ],
                [
                    "1931",
                    1
                ],
                [
                    "1932",
                    1
                ],
                [
                    "1933",
                    1
                ],
                [
                    "1935",
                    2
                ],
                [
                    "1936",
                    2
                ],
                [
                    "1938",
                    2
                ],
                [
                    "1939",
                    1
                ],
                [
                    "1940",
                    3
                ],
                [
                    "1941",
                    1
                ],
                [
                    "1942",
                    1
                ],
                [
                    "1943",
                    1
                ],
                [
                    "1947",
                    2
                ],
                [
                    "1948",
                    3
                ],
                [
                    "1949",
                    1
                ],
                [
                    "1950",
                    2
                ],
                [
                    "1951",
                    1
                ],
                [
                    "1952",
                    1
                ],
                [
                    "1953",
                    1
                ],
                [
                    "1954",
                    1
                ],
                [
                    "1955",
                    1
                ],
                [
                    "1957",
                    2
                ],
                [
                    "1958",
                    1
                ],
                [
                    "1960",
                    2
                ],
                [
                    "1961",
                    1
                ],
                [
                    "1962",
                    1
                ],
                [
                    "1963",
                    1
                ],
                [
                    "1964",
                    5
                ],
                [
                    "1965",
                    5
                ],
                [
                    "1966",
                    4
                ],
                [
                    "1967",
                    8
                ],
                [
                    "1968",
                    10
                ],
                [
                    "1969",
                    4
                ],
                [
                    "1970",
                    8
                ],
                [
                    "1971",
                    11
                ],
                [
                    "1972",
                    1
                ],
                [
                    "1973",
                    6
                ],
                [
                    "1974",
                    7
                ],
                [
                    "1975",
                    7
                ],
                [
                    "1976",
                    7
                ],
                [
                    "1977",
                    6
                ],
                [
                    "1978",
                    8
                ],
                [
                    "1979",
                    8
                ],
                [
                    "1980",
                    6
                ],
                [
                    "1981",
                    3
                ],
                [
                    "1982",
                    10
                ],
                [
                    "1983",
                    14
                ],
                [
                    "1984",
                    6
                ],
                [
                    "1985",
                    8
                ],
                [
                    "1986",
                    13
                ],
                [
                    "1987",
                    13
                ],
                [
                    "1988",
                    13
                ],
                [
                    "1989",
                    13
                ],
                [
                    "1990",
                    9
                ],
                [
                    "1991",
                    13
                ],
                [
                    "1992",
                    15
                ],
                [
                    "1993",
                    23
                ],
                [
                    "1994",
                    23
                ],
                [
                    "1995",
                    43
                ],
                [
                    "1996",
                    17
                ],
                [
                    "1997",
                    21
                ],
                [
                    "1998",
                    28
                ],
                [
                    "1999",
                    26
                ],
                [
                    "2000",
                    26
                ],
                [
                    "2001",
                    40
                ],
                [
                    "2002",
                    41
                ],
                [
                    "2003",
                    48
                ],
                [
                    "2004",
                    37
                ],
                [
                    "2005",
                    40
                ],
                [
                    "2006",
                    60
                ],
                [
                    "2007",
                    71
                ],
                [
                    "2008",
                    68
                ],
                [
                    "2009",
                    72
                ],
                [
                    "2010",
                    75
                ],
                [
                    "2011",
                    93
                ],
                [
                    "2012",
                    76
                ],
                [
                    "2013",
                    97
                ],
                [
                    "2014",
                    104
                ],
                [
                    "2015",
                    107
                ],
                [
                    "2016",
                    110
                ],
                [
                    "2017",
                    99
                ],
                [
                    "2018",
                    102
                ],
                [
                    "2019",
                    130
                ],
                [
                    "2020",
                    81
                ],
                [
                    "2021",
                    16
                ],
                [
                    "2022",
                    19
                ],
                [
                    "2024",
                    1
                ],
                [
                    "2025",
                    2
                ],
                [
                    "2030",
                    1
                ],
                [
                    "2035",
                    1
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "1894",
                    0
                ],
                [
                    "1896",
                    0
                ],
                [
                    "1897",
                    0
                ],
                [
                    "1905",
                    0
                ],
                [
                    "1913",
                    0
                ],
                [
                    "1914",
                    0
                ],
                [
                    "1916",
                    0
                ],
                [
                    "1918",
                    0
                ],
                [
                    "1919",
                    0
                ],
                [
                    "1921",
                    0
                ],
                [
                    "1922",
                    0
                ],
                [
                    "1923",
                    0
                ],
                [
                    "1924",
                    0
                ],
                [
                    "1925",
                    0
                ],
                [
                    "1926",
                    1
                ],
                [
                    "1928",
                    0
                ],
                [
                    "1929",
                    0
                ],
                [
                    "1931",
                    0
                ],
                [
                    "1932",
                    0
                ],
                [
                    "1933",
                    0
                ],
                [
                    "1935",
                    1
                ],
                [
                    "1936",
                    0
                ],
                [
                    "1938",
                    1
                ],
                [
                    "1939",
                    0
                ],
                [
                    "1940",
                    0
                ],
                [
                    "1941",
                    0
                ],
                [
                    "1942",
                    0
                ],
                [
                    "1943",
                    0
                ],
                [
                    "1947",
                    0
                ],
                [
                    "1948",
                    0
                ],
                [
                    "1949",
                    0
                ],
                [
                    "1950",
                    0
                ],
                [
                    "1951",
                    0
                ],
                [
                    "1952",
                    0
                ],
                [
                    "1953",
                    0
                ],
                [
                    "1954",
                    0
                ],
                [
                    "1955",
                    1
                ],
                [
                    "1957",
                    0
                ],
                [
                    "1958",
                    0
                ],
                [
                    "1960",
                    0
                ],
                [
                    "1961",
                    1
                ],
                [
                    "1962",
                    0
                ],
                [
                    "1963",
                    0
                ],
                [
                    "1964",
                    0
                ],
                [
                    "1965",
                    0
                ],
                [
                    "1966",
                    0
                ],
                [
                    "1967",
                    0
                ],
                [
                    "1968",
                    1
                ],
                [
                    "1969",
                    0
                ],
                [
                    "1970",
                    0
                ],
                [
                    "1971",
                    0
                ],
                [
                    "1972",
                    0
                ],
                [
                    "1973",
                    0
                ],
                [
                    "1974",
                    0
                ],
                [
                    "1975",
                    0
                ],
                [
                    "1976",
                    1
                ],
                [
                    "1977",
                    0
                ],
                [
                    "1978",
                    0
                ],
                [
                    "1979",
                    1
                ],
                [
                    "1980",
                    0
                ],
                [
                    "1981",
                    0
                ],
                [
                    "1982",
                    1
                ],
                [
                    "1983",
                    4
                ],
                [
                    "1984",
                    1
                ],
                [
                    "1985",
                    2
                ],
                [
                    "1986",
                    3
                ],
                [
                    "1987",
                    3
                ],
                [
                    "1988",
                    3
                ],
                [
                    "1989",
                    2
                ],
                [
                    "1990",
                    4
                ],
                [
                    "1991",
                    2
                ],
                [
                    "1992",
                    5
                ],
                [
                    "1993",
                    6
                ],
                [
                    "1994",
                    9
                ],
                [
                    "1995",
                    6
                ],
                [
                    "1996",
                    2
                ],
                [
                    "1997",
                    3
                ],
                [
                    "1998",
                    3
                ],
                [
                    "1999",
                    4
                ],
                [
                    "2000",
                    6
                ],
                [
                    "2001",
                    1
                ],
                [
                    "2002",
                    7
                ],
                [
                    "2003",
                    9
                ],
                [
                    "2004",
                    8
                ],
                [
                    "2005",
                    5
                ],
                [
                    "2006",
                    9
                ],
                [
                    "2007",
                    9
                ],
                [
                    "2008",
                    6
                ],
                [
                    "2009",
                    11
                ],
                [
                    "2010",
                    14
                ],
                [
                    "2011",
                    23
                ],
                [
                    "2012",
                    24
                ],
                [
                    "2013",
                    28
                ],
                [
                    "2014",
                    43
                ],
                [
                    "2015",
                    48
                ],
                [
                    "2016",
                    40
                ],
                [
                    "2017",
                    39
                ],
                [
                    "2018",
                    48
                ],
                [
                    "2019",
                    45
                ],
                [
                    "2020",
                    48
                ],
                [
                    "2021",
                    6
                ],
                [
                    "2022",
                    7
                ],
                [
                    "2024",
                    0
                ],
                [
                    "2025",
                    2
                ],
                [
                    "2030",
                    0
                ],
                [
                    "2035",
                    1
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u7f8e\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "1894",
                    1
                ],
                [
                    "1896",
                    0
                ],
                [
                    "1897",
                    0
                ],
                [
                    "1905",
                    0
                ],
                [
                    "1913",
                    0
                ],
                [
                    "1914",
                    1
                ],
                [
                    "1916",
                    2
                ],
                [
                    "1918",
                    1
                ],
                [
                    "1919",
                    0
                ],
                [
                    "1921",
                    0
                ],
                [
                    "1922",
                    0
                ],
                [
                    "1923",
                    0
                ],
                [
                    "1924",
                    0
                ],
                [
                    "1925",
                    0
                ],
                [
                    "1926",
                    0
                ],
                [
                    "1928",
                    0
                ],
                [
                    "1929",
                    0
                ],
                [
                    "1931",
                    1
                ],
                [
                    "1932",
                    0
                ],
                [
                    "1933",
                    0
                ],
                [
                    "1935",
                    1
                ],
                [
                    "1936",
                    1
                ],
                [
                    "1938",
                    1
                ],
                [
                    "1939",
                    1
                ],
                [
                    "1940",
                    3
                ],
                [
                    "1941",
                    1
                ],
                [
                    "1942",
                    1
                ],
                [
                    "1943",
                    1
                ],
                [
                    "1947",
                    1
                ],
                [
                    "1948",
                    0
                ],
                [
                    "1949",
                    0
                ],
                [
                    "1950",
                    0
                ],
                [
                    "1951",
                    0
                ],
                [
                    "1952",
                    1
                ],
                [
                    "1953",
                    0
                ],
                [
                    "1954",
                    0
                ],
                [
                    "1955",
                    0
                ],
                [
                    "1957",
                    2
                ],
                [
                    "1958",
                    1
                ],
                [
                    "1960",
                    1
                ],
                [
                    "1961",
                    0
                ],
                [
                    "1962",
                    1
                ],
                [
                    "1963",
                    0
                ],
                [
                    "1964",
                    2
                ],
                [
                    "1965",
                    2
                ],
                [
                    "1966",
                    1
                ],
                [
                    "1967",
                    0
                ],
                [
                    "1968",
                    3
                ],
                [
                    "1969",
                    1
                ],
                [
                    "1970",
                    0
                ],
                [
                    "1971",
                    5
                ],
                [
                    "1972",
                    1
                ],
                [
                    "1973",
                    2
                ],
                [
                    "1974",
                    3
                ],
                [
                    "1975",
                    3
                ],
                [
                    "1976",
                    1
                ],
                [
                    "1977",
                    1
                ],
                [
                    "1978",
                    3
                ],
                [
                    "1979",
                    3
                ],
                [
                    "1980",
                    1
                ],
                [
                    "1981",
                    2
                ],
                [
                    "1982",
                    3
                ],
                [
                    "1983",
                    4
                ],
                [
                    "1984",
                    2
                ],
                [
                    "1985",
                    4
                ],
                [
                    "1986",
                    6
                ],
                [
                    "1987",
                    5
                ],
                [
                    "1988",
                    3
                ],
                [
                    "1989",
                    2
                ],
                [
                    "1990",
                    2
                ],
                [
                    "1991",
                    4
                ],
                [
                    "1992",
                    6
                ],
                [
                    "1993",
                    7
                ],
                [
                    "1994",
                    9
                ],
                [
                    "1995",
                    14
                ],
                [
                    "1996",
                    6
                ],
                [
                    "1997",
                    9
                ],
                [
                    "1998",
                    9
                ],
                [
                    "1999",
                    14
                ],
                [
                    "2000",
                    10
                ],
                [
                    "2001",
                    21
                ],
                [
                    "2002",
                    16
                ],
                [
                    "2003",
                    24
                ],
                [
                    "2004",
                    16
                ],
                [
                    "2005",
                    20
                ],
                [
                    "2006",
                    26
                ],
                [
                    "2007",
                    28
                ],
                [
                    "2008",
                    29
                ],
                [
                    "2009",
                    24
                ],
                [
                    "2010",
                    20
                ],
                [
                    "2011",
                    18
                ],
                [
                    "2012",
                    20
                ],
                [
                    "2013",
                    29
                ],
                [
                    "2014",
                    22
                ],
                [
                    "2015",
                    18
                ],
                [
                    "2016",
                    25
                ],
                [
                    "2017",
                    19
                ],
                [
                    "2018",
                    17
                ],
                [
                    "2019",
                    30
                ],
                [
                    "2020",
                    22
                ],
                [
                    "2021",
                    8
                ],
                [
                    "2022",
                    12
                ],
                [
                    "2024",
                    1
                ],
                [
                    "2025",
                    0
                ],
                [
                    "2030",
                    1
                ],
                [
                    "2035",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5168\u7403",
                "\u4e2d\u56fd",
                "\u7f8e\u56fd"
            ],
            "selected": {
                "\u5168\u7403": true,
                "\u4e2d\u56fd": true,
                "\u7f8e\u56fd": true
            },
            "show": true,
            "left": "620px",
            "top": "28px",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1894",
                "1896",
                "1897",
                "1905",
                "1913",
                "1914",
                "1916",
                "1918",
                "1919",
                "1921",
                "1922",
                "1923",
                "1924",
                "1925",
                "1926",
                "1928",
                "1929",
                "1931",
                "1932",
                "1933",
                "1935",
                "1936",
                "1938",
                "1939",
                "1940",
                "1941",
                "1942",
                "1943",
                "1947",
                "1948",
                "1949",
                "1950",
                "1951",
                "1952",
                "1953",
                "1954",
                "1955",
                "1957",
                "1958",
                "1960",
                "1961",
                "1962",
                "1963",
                "1964",
                "1965",
                "1966",
                "1967",
                "1968",
                "1969",
                "1970",
                "1971",
                "1972",
                "1973",
                "1974",
                "1975",
                "1976",
                "1977",
                "1978",
                "1979",
                "1980",
                "1981",
                "1982",
                "1983",
                "1984",
                "1985",
                "1986",
                "1987",
                "1988",
                "1989",
                "1990",
                "1991",
                "1992",
                "1993",
                "1994",
                "1995",
                "1996",
                "1997",
                "1998",
                "1999",
                "2000",
                "2001",
                "2002",
                "2003",
                "2004",
                "2005",
                "2006",
                "2007",
                "2008",
                "2009",
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020",
                "2021",
                "2022",
                "2024",
                "2025",
                "2030",
                "2035"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u8c46\u74e3\u7535\u5f71-\u4e2d\u5916\u7535\u5f71\u4e0a\u6620\u5e74\u4efd\u5206\u5e03\u56fe",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_45c1034f10fc49d9acc70bb4c5c0817a.setOption(option_45c1034f10fc49d9acc70bb4c5c0817a);
    </script>
</body>
</html>
